html {
    height: 100vh;
     
}

body { 
    
    background-color: #3291b1;    
    display: flex;
    justify-content: center;
    
    font-family: 'Play', sans-serif;
    height: 100vh;
    margin: 0;
}

.container { 
    display: flex; 
    flex-direction: column;
    margin-top: 50px;
    border-radius: 20px 20px;    
    height: 90vh;
    min-height: 850px;
    width: 90%;
    background-color: white;
    
}

.container-side {
    display: flex;
    flex: 1;
    border-left: 5px   #506e74   solid;
    border-right: 5px   #506e74   solid;
    border-top: 5px   #506e74   solid;
    border-bottom: 10px   #506e74   solid;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}


.playerside {   
    border-bottom-left-radius: 20px 20px;        
    display: flex;
    flex-direction: column;
   
}

.ships {
    display: flex;    
    border: 3px  #506e74 solid;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px; 
    flex-grow: 1;
    flex-wrap: wrap;
    min-height: 350px;
    min-width: 260px;
}

.shipContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.taken {
    background-color: #7f9dad;
}
 

.ship{
    height: 50px;
    width: 50px;
    border: 1px #506e74 solid;
    background-color: #7f9dad;
}

.pcside {
    border-bottom-right-radius: 20px 20px;        
}



.board {
     
    margin: 10px;
    display: flex;
    
    flex-direction: column;
    
    border: #506e74  solid  ;  
    border-width: 2px 3px 3px 2px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.row{
   display: flex; 
   width: min-content;
   
}

 
.block{
    height: 50px;
    width: 50px;
    border-left: 1px #506e74  solid;
    border-top: 1px #506e74 solid; 
}



.start{
    gap: 30px;
}

navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px; 
    background-color: #6a8b92; 
    color: white;
    grid-column: 1 / 3;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border: #506e74 5px solid;
}



  
  
    
 